.bought {
  text-decoration: line-through;
}
body{
background-size: cover;
background-position: center;
background-image: url('../public/img/unnamed.jpg');
}
.btn-1{
text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 12px 40px;
    border-radius: 50px;
    background-color: #666666;
    box-shadow: 0 5px 5px #313131, 0 9px 0 #393939, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 9px rgba(255,255,255,0.2), inset 0 -2px 9px rgba(0,0,0,0.2);
    position: relative;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    display: inline-block;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.2);
    margin-bottom: 40px;
    margin-right:20px;
   
}.bsk-1{
text-align: center;
}
.still-1{
  width: 200px !important;
  display: inline !important;
}
.still-2{
  font-size: 20px !important;
  display: inline-block ;
  margin-left: 20px;
  color: white;
  font-weight: bold;
}